body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
.compare-texts {
  text-align: center;
}
.highlight {
  background-color: #4141c9;
  color: white;
}
.text-container {
  display: flex;
  width: 100%;
}
.editable {
  width: 100%;
  height: 350px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: white;
  color: black;
  font-family: monospace;
  border-radius: 10px;
}
.editable:focus {
  outline: none;
}
#text1[data-placeholder-1]:empty:before {
  content: attr(data-placeholder-1);
  color: #aaa;
  pointer-events: none;
}
#text2[data-placeholder-2]:empty:before {
  content: attr(data-placeholder-2);
  color: #aaa;
  pointer-events: none;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4141c9;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.arrow-down {
  cursor: pointer;
  color: white;
  font-size: 24px;
  width: 15px;
}
.original-texts-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.original-text {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  color: black;
  font-family: monospace;
  border-radius: 10px;
  resize: vertical;
}
.spacer {
  width: 15px;
}
